@font-face {
  font-family: 'HeavyMetal';
  src: url('fonts/heavy_metal_rocking.ttf') format('truetype');
}

h1 {
  font-family: 'HeavyMetal', 'serif' !important;
  font-weight: normal !important;
  color: black !important;
  text-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

div.GtmBanner {
  background-image: url('images/metal-seamless.jpg');
}

div.GtmBanner::after {
  background: none !important;
}
