@font-face {
  font-family: 'HeavyMetal';
  src: url('fonts/heavy_metal_rocking.ttf') format('truetype');
}

@font-face {
  font-family: 'GunMetal';
  src: url('fonts/gunmetl.ttf') format('truetype');
}

h1 {
  font-family: 'GunMetal', 'serif' !important;
  font-weight: normal !important;
  color: black !important;
  text-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

/*
h1 {
  font-family: 'HeavyMetal', 'serif' !important;
  font-weight: normal !important;
  color: black !important;
  text-shadow: 0 0 5px rgba(255, 255, 255, 1);
}
*/

body {
  background-image: url('images/metal-seamless.jpg');
}

div.GtmBanner,
div.GtmBanner::after {
  background: none !important;
}

@keyframes rotating {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(405deg);
  }
}

header nav a:nth-child(1) {
  background-image: url('images/ninja_ship.png');
  background-size: 52px;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(45deg);
  animation: rotating 2s linear infinite;
  font-size: 0;
  width: 81px;
  height: 53px;
  filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
}

header nav a:nth-child(1):hover {
  animation: rotating 1s linear infinite;
}

header nav a:nth-child(2) {
  background-image: url('images/starfries_logo.png');
  background-size: 52px;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
  transition: 150ms all;
  width: 81px;
  height: 68px;
}

header nav a:nth-child(2):hover {
  background-size: 72px;
}
