@font-face {
  font-family: 'HeavyMetal';
  src: url('fonts/heavy_metal_rocking.ttf') format('truetype');
}

@font-face {
  font-family: 'GunMetal';
  src: url('fonts/gunmetl.ttf') format('truetype');
}

@font-face {
  font-family: 'Gothic';
  src: url('fonts/headline_gothic.ttf') format('truetype');
}

@font-face {
  font-family: 'Echotopia';
  src: url('fonts/echotopia.ttf') format('truetype');
}

@font-face {
  font-family: 'Optimus';
  src: url('fonts/Optimus.ttf') format('truetype');
}

@font-face {
  font-family: 'Optimus Hollow';
  src: url('fonts/OptimusHollow.ttf') format('truetype');
}

@font-face {
  font-family: 'Revamped';
  src: url('fonts/Revamped.ttf') format('truetype');
}

@font-face {
  font-family: 'CyberPunks';
  src: url('fonts/Cyberpunks.ttf') format('truetype');
}

@font-face {
  font-family: 'Neuropol';
  src: url('fonts/neuropol.ttf') format('truetype');
}

@font-face {
  font-family: 'Prototype';
  src: url('fonts/Prototype.ttf') format('truetype');
}

h1 {
  font-family: 'CyberPunks', 'serif' !important;
  font-weight: normal !important;
  color: rgb(0, 0, 0) !important;
  text-shadow: 0 0 5px rgb(153, 0, 255);
}

h2 {
  font-family: 'Optimus', 'serif' !important;
  font-weight: normal !important;
  color: rgb(0, 0, 0) !important;
  text-shadow: 0 0 5px rgb(153, 0, 255);
}

h3 {
  font-family: 'Optimus', 'serif' !important;
  font-weight: normal !important;
  color: rgb(0, 0, 0) !important;
  text-shadow: 0 0 5px rgb(153, 0, 255);
}

h4 {
  font-family: 'Optimus', 'serif' !important;
  font-weight: normal !important;
  color: rgb(255, 195, 237) !important;
  text-shadow: 0 0 5px rgb(0, 0, 0);
}

h5 {
  font-family: 'Echotopia', 'serif' !important;
  font-weight: normal !important;
  color: black !important;
  text-shadow: 0 0 5px rgb(255, 0, 0);
}

h6 {
  font-family: 'Echotopia', 'serif' !important;
  font-weight: normal !important;
  color: rgb(255, 255, 255) !important;
  text-shadow: 0 0 5px rgb(255, 191, 191);
}




/*
h1 {
  font-family: 'HeavyMetal', 'serif' !important;
  font-weight: normal !important;
  color: black !important;
  text-shadow: 0 0 5px rgba(255, 255, 255, 1);
}
*/

div {
  color: hsla(0, 0%, 100%, 0.8);
  font-family: Prototype !important;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
}

body {
  background-image: url('images/stars.gif');
}

body.runeguy {
  background-image: url('images/fancy.jpg');
}

body.hallofame {
  background-image: url('images/texture.png');
  background-size: contain;
}

body.games {
  background-image: url('images/carpet3.png');
}

body.hypno {
  background-image: url('images/loopingBC.gif');
}

body.hypno2 {
  background-image: url('images/LoopingBC2.gif');
}

body.hypno3 {
  background-image: url('images/loopingBC3.gif');
}

body.hypno4 {
  background-image: url('images/loopingBC4.gif');
}

body.hypno5 {
  background-image: url('images/loopingBC5.gif');
}

body.hypno6 {
  background-image: url('images/loopingBC6.gif');
}

body.hypno7 {
  background-image: url('images/loopingBC7.gif');
}

body.hypno8 {
  background-image: url('images/loopingBC8.gif');
}

body.hypno9 {
  background-image: url('images/loopingBC9.gif');
}

body.hypno10 {
  background-image: url('images/loopingBC10.gif');
}

body.hypno11 {
  background-image: url('images/loopingBC11.gif');
}

body.hypno12 {
  background-image: url('images/loopingBC12.gif');
}

body.hypno13 {
  background-image: url('images/loopingBC13.gif');
}

body.hypno14 {
  background-image: url('images/loopingBC14.gif');
}

a.hypno-button {
  color: rgba(255, 0, 0, 0) !important;
  background: none !important;
  transition: 350ms all;
  background-size: 5%;
}

a.hypno-button:hover {
  transform: scale(1.3);
}

div.GtmBanner,
div.GtmBanner::after {
  background: none !important;
}


@keyframes rotating {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(405deg);
  }
}

header nav a:nth-child(1) {
  background-image: url('images/ninja_ship.png');
  background-size: 52px;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(45deg);
  animation: rotating 2s linear infinite;
  font-size: 0;
  width: 81px;
  height: 53px;
  filter: drop-shadow(1px 1px 0 black) drop-shadow(-1px -1px 0 black);
}

header nav a:nth-child(1):hover {
  animation: rotating 1s linear infinite;
}

header nav a:nth-child(2) {
  background-image: url('images/starfries_logo.png');
  background-size: 52px;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
  transition: 150ms all;
  width: 81px;
  height: 68px;
}

header nav a:nth-child(2):hover {
  background-size: 72px;
}

header nav a:nth-child(3) {
  background-image: url('images/gameboy.png');
  background-size: 52px;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
  transition: 150ms all;
  width: 81px;
  height: 68px;
}

header nav a:nth-child(3):hover {
  background-size: 72px;
}
